--
-- PostgreSQL database dump
--

\restrict kc0mcub5i8OsoZTAKOMDeSG3MkgZbehVhNc2wVO6VVVdQ7TjqfYKBmaq9Xx1sFD

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: oms_user
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO oms_user;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: oms_user
--

COMMENT ON SCHEMA public IS '';


--
-- Name: shadow; Type: SCHEMA; Schema: -; Owner: oms_user
--

CREATE SCHEMA shadow;


ALTER SCHEMA shadow OWNER TO oms_user;

--
-- Name: AuditAction; Type: TYPE; Schema: public; Owner: oms_user
--

CREATE TYPE public."AuditAction" AS ENUM (
    'CREATE',
    'UPDATE',
    'DELETE',
    'STATUS_CHANGE'
);


ALTER TYPE public."AuditAction" OWNER TO oms_user;

--
-- Name: GroupPriceType; Type: TYPE; Schema: public; Owner: oms_user
--

CREATE TYPE public."GroupPriceType" AS ENUM (
    'PERCENTAGE',
    'FIXED'
);


ALTER TYPE public."GroupPriceType" OWNER TO oms_user;

--
-- Name: OrderDeliveryStatus; Type: TYPE; Schema: public; Owner: oms_user
--

CREATE TYPE public."OrderDeliveryStatus" AS ENUM (
    'PENDING',
    'PROCESSING',
    'SHIPPING',
    'COMPLETED',
    'RETURNED',
    'CANCELLED'
);


ALTER TYPE public."OrderDeliveryStatus" OWNER TO oms_user;

--
-- Name: PriceSource; Type: TYPE; Schema: public; Owner: oms_user
--

CREATE TYPE public."PriceSource" AS ENUM (
    'SPECIAL',
    'GROUP',
    'RETAIL'
);


ALTER TYPE public."PriceSource" OWNER TO oms_user;

--
-- Name: Role; Type: TYPE; Schema: public; Owner: oms_user
--

CREATE TYPE public."Role" AS ENUM (
    'ADMIN',
    'STAFF'
);


ALTER TYPE public."Role" OWNER TO oms_user;

--
-- Name: AuditAction; Type: TYPE; Schema: shadow; Owner: oms_user
--

CREATE TYPE shadow."AuditAction" AS ENUM (
    'CREATE',
    'UPDATE',
    'DELETE',
    'STATUS_CHANGE'
);


ALTER TYPE shadow."AuditAction" OWNER TO oms_user;

--
-- Name: GroupPriceType; Type: TYPE; Schema: shadow; Owner: oms_user
--

CREATE TYPE shadow."GroupPriceType" AS ENUM (
    'PERCENTAGE',
    'FIXED'
);


ALTER TYPE shadow."GroupPriceType" OWNER TO oms_user;

--
-- Name: OrderDeliveryStatus; Type: TYPE; Schema: shadow; Owner: oms_user
--

CREATE TYPE shadow."OrderDeliveryStatus" AS ENUM (
    'PENDING',
    'PROCESSING',
    'SHIPPING',
    'COMPLETED',
    'RETURNED',
    'CANCELLED'
);


ALTER TYPE shadow."OrderDeliveryStatus" OWNER TO oms_user;

--
-- Name: PriceSource; Type: TYPE; Schema: shadow; Owner: oms_user
--

CREATE TYPE shadow."PriceSource" AS ENUM (
    'SPECIAL',
    'GROUP',
    'RETAIL'
);


ALTER TYPE shadow."PriceSource" OWNER TO oms_user;

--
-- Name: Role; Type: TYPE; Schema: shadow; Owner: oms_user
--

CREATE TYPE shadow."Role" AS ENUM (
    'ADMIN',
    'STAFF'
);


ALTER TYPE shadow."Role" OWNER TO oms_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: oms_user
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO oms_user;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: oms_user
--

CREATE TABLE public.audit_logs (
    id text NOT NULL,
    "userId" text,
    "userEmail" text,
    action public."AuditAction" NOT NULL,
    "entityType" text NOT NULL,
    "entityId" text NOT NULL,
    "oldData" jsonb,
    "newData" jsonb,
    "ipAddress" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.audit_logs OWNER TO oms_user;

--
-- Name: cancel_reasons; Type: TABLE; Schema: public; Owner: oms_user
--

CREATE TABLE public.cancel_reasons (
    id text NOT NULL,
    label text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "sortOrder" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.cancel_reasons OWNER TO oms_user;

--
-- Name: company_settings; Type: TABLE; Schema: public; Owner: oms_user
--

CREATE TABLE public.company_settings (
    id text NOT NULL,
    name text NOT NULL,
    address text,
    phone text,
    email text,
    "taxCode" text,
    "logoUrl" text,
    "bankInfo" text,
    "invoiceFooter" text,
    "treatBlankAsZero" boolean DEFAULT false NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.company_settings OWNER TO oms_user;

--
-- Name: customer_groups; Type: TABLE; Schema: public; Owner: oms_user
--

CREATE TABLE public.customer_groups (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    "priceType" public."GroupPriceType" DEFAULT 'PERCENTAGE'::public."GroupPriceType" NOT NULL,
    "discountPercent" double precision DEFAULT 0,
    "isDefault" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.customer_groups OWNER TO oms_user;

--
-- Name: customer_special_prices; Type: TABLE; Schema: public; Owner: oms_user
--

CREATE TABLE public.customer_special_prices (
    id text NOT NULL,
    "customerId" text NOT NULL,
    "productId" text NOT NULL,
    price numeric(15,0) NOT NULL,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.customer_special_prices OWNER TO oms_user;

--
-- Name: customers; Type: TABLE; Schema: public; Owner: oms_user
--

CREATE TABLE public.customers (
    id text NOT NULL,
    code text,
    phone text,
    "fullName" text NOT NULL,
    "groupId" text NOT NULL,
    "provinceCode" text,
    "provinceName" text,
    "wardCode" text,
    "wardName" text,
    "addressDetail" text,
    notes text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.customers OWNER TO oms_user;

--
-- Name: order_items; Type: TABLE; Schema: public; Owner: oms_user
--

CREATE TABLE public.order_items (
    id text NOT NULL,
    "orderId" text NOT NULL,
    "productId" text NOT NULL,
    "snapshotProductName" text NOT NULL,
    "snapshotProductSku" text NOT NULL,
    "snapshotProductUnit" text NOT NULL,
    "snapshotUnitPrice" numeric(15,0) NOT NULL,
    "priceSource" public."PriceSource" NOT NULL,
    "pricingNote" text,
    quantity double precision NOT NULL,
    "lineDiscount" numeric(15,0) DEFAULT 0 NOT NULL,
    "lineTotal" numeric(15,0) NOT NULL
);


ALTER TABLE public.order_items OWNER TO oms_user;

--
-- Name: orders; Type: TABLE; Schema: public; Owner: oms_user
--

CREATE TABLE public.orders (
    id text NOT NULL,
    "orderNumber" text NOT NULL,
    "customerId" text NOT NULL,
    "snapshotCustomerName" text NOT NULL,
    "snapshotCustomerPhone" text,
    "createdById" text NOT NULL,
    "deliveryStatus" public."OrderDeliveryStatus" DEFAULT 'PENDING'::public."OrderDeliveryStatus" NOT NULL,
    subtotal numeric(15,0) NOT NULL,
    "discountAmount" numeric(15,0) DEFAULT 0 NOT NULL,
    "shippingFee" numeric(15,0) DEFAULT 0 NOT NULL,
    "totalAmount" numeric(15,0) NOT NULL,
    "cancelReasonId" text,
    "cancelNotes" text,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.orders OWNER TO oms_user;

--
-- Name: product_categories; Type: TABLE; Schema: public; Owner: oms_user
--

CREATE TABLE public.product_categories (
    id text NOT NULL,
    name text NOT NULL,
    code text NOT NULL,
    description text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.product_categories OWNER TO oms_user;

--
-- Name: product_group_prices; Type: TABLE; Schema: public; Owner: oms_user
--

CREATE TABLE public.product_group_prices (
    id text NOT NULL,
    "productId" text NOT NULL,
    "groupId" text NOT NULL,
    "fixedPrice" numeric(15,0),
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.product_group_prices OWNER TO oms_user;

--
-- Name: products; Type: TABLE; Schema: public; Owner: oms_user
--

CREATE TABLE public.products (
    id text NOT NULL,
    name text NOT NULL,
    sku text NOT NULL,
    "categoryId" text,
    unit text NOT NULL,
    "retailPrice" numeric(15,0) NOT NULL,
    "costPrice" numeric(15,0),
    weight double precision,
    dimensions text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.products OWNER TO oms_user;

--
-- Name: users; Type: TABLE; Schema: public; Owner: oms_user
--

CREATE TABLE public.users (
    id text NOT NULL,
    email text NOT NULL,
    "passwordHash" text NOT NULL,
    "fullName" text NOT NULL,
    role public."Role" DEFAULT 'STAFF'::public."Role" NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "refreshTokenHash" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.users OWNER TO oms_user;

--
-- Name: audit_logs; Type: TABLE; Schema: shadow; Owner: oms_user
--

CREATE TABLE shadow.audit_logs (
    id text NOT NULL,
    "userId" text,
    "userEmail" text,
    action shadow."AuditAction" NOT NULL,
    "entityType" text NOT NULL,
    "entityId" text NOT NULL,
    "oldData" jsonb,
    "newData" jsonb,
    "ipAddress" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE shadow.audit_logs OWNER TO oms_user;

--
-- Name: cancel_reasons; Type: TABLE; Schema: shadow; Owner: oms_user
--

CREATE TABLE shadow.cancel_reasons (
    id text NOT NULL,
    label text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "sortOrder" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE shadow.cancel_reasons OWNER TO oms_user;

--
-- Name: company_settings; Type: TABLE; Schema: shadow; Owner: oms_user
--

CREATE TABLE shadow.company_settings (
    id text NOT NULL,
    name text NOT NULL,
    address text,
    phone text,
    email text,
    "taxCode" text,
    "logoUrl" text,
    "bankInfo" text,
    "invoiceFooter" text,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE shadow.company_settings OWNER TO oms_user;

--
-- Name: customer_groups; Type: TABLE; Schema: shadow; Owner: oms_user
--

CREATE TABLE shadow.customer_groups (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    "priceType" shadow."GroupPriceType" DEFAULT 'PERCENTAGE'::shadow."GroupPriceType" NOT NULL,
    "discountPercent" double precision DEFAULT 0,
    "isDefault" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE shadow.customer_groups OWNER TO oms_user;

--
-- Name: customer_special_prices; Type: TABLE; Schema: shadow; Owner: oms_user
--

CREATE TABLE shadow.customer_special_prices (
    id text NOT NULL,
    "customerId" text NOT NULL,
    "productId" text NOT NULL,
    price numeric(15,0) NOT NULL,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE shadow.customer_special_prices OWNER TO oms_user;

--
-- Name: customers; Type: TABLE; Schema: shadow; Owner: oms_user
--

CREATE TABLE shadow.customers (
    id text NOT NULL,
    phone text NOT NULL,
    "fullName" text NOT NULL,
    "groupId" text NOT NULL,
    "provinceCode" text,
    "provinceName" text,
    "wardCode" text,
    "wardName" text,
    "addressDetail" text,
    notes text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE shadow.customers OWNER TO oms_user;

--
-- Name: order_items; Type: TABLE; Schema: shadow; Owner: oms_user
--

CREATE TABLE shadow.order_items (
    id text NOT NULL,
    "orderId" text NOT NULL,
    "productId" text NOT NULL,
    "snapshotProductName" text NOT NULL,
    "snapshotProductSku" text NOT NULL,
    "snapshotProductUnit" text NOT NULL,
    "snapshotUnitPrice" numeric(15,0) NOT NULL,
    "priceSource" shadow."PriceSource" NOT NULL,
    "pricingNote" text,
    quantity double precision NOT NULL,
    "lineDiscount" numeric(15,0) DEFAULT 0 NOT NULL,
    "lineTotal" numeric(15,0) NOT NULL
);


ALTER TABLE shadow.order_items OWNER TO oms_user;

--
-- Name: orders; Type: TABLE; Schema: shadow; Owner: oms_user
--

CREATE TABLE shadow.orders (
    id text NOT NULL,
    "orderNumber" text NOT NULL,
    "customerId" text NOT NULL,
    "snapshotCustomerName" text NOT NULL,
    "snapshotCustomerPhone" text NOT NULL,
    "createdById" text NOT NULL,
    "deliveryStatus" shadow."OrderDeliveryStatus" DEFAULT 'PENDING'::shadow."OrderDeliveryStatus" NOT NULL,
    subtotal numeric(15,0) NOT NULL,
    "discountAmount" numeric(15,0) DEFAULT 0 NOT NULL,
    "shippingFee" numeric(15,0) DEFAULT 0 NOT NULL,
    "totalAmount" numeric(15,0) NOT NULL,
    "cancelReasonId" text,
    "cancelNotes" text,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE shadow.orders OWNER TO oms_user;

--
-- Name: product_group_prices; Type: TABLE; Schema: shadow; Owner: oms_user
--

CREATE TABLE shadow.product_group_prices (
    id text NOT NULL,
    "productId" text NOT NULL,
    "groupId" text NOT NULL,
    "fixedPrice" numeric(15,0),
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE shadow.product_group_prices OWNER TO oms_user;

--
-- Name: products; Type: TABLE; Schema: shadow; Owner: oms_user
--

CREATE TABLE shadow.products (
    id text NOT NULL,
    name text NOT NULL,
    sku text NOT NULL,
    unit text NOT NULL,
    "retailPrice" numeric(15,0) NOT NULL,
    "costPrice" numeric(15,0),
    stock double precision,
    weight double precision,
    dimensions text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE shadow.products OWNER TO oms_user;

--
-- Name: users; Type: TABLE; Schema: shadow; Owner: oms_user
--

CREATE TABLE shadow.users (
    id text NOT NULL,
    email text NOT NULL,
    "passwordHash" text NOT NULL,
    "fullName" text NOT NULL,
    role shadow."Role" DEFAULT 'STAFF'::shadow."Role" NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "refreshTokenHash" text
);


ALTER TABLE shadow.users OWNER TO oms_user;

--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: oms_user
--

COPY public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) FROM stdin;
ee26123f-c5e7-4b63-95be-5ca61b840e3d	e1551ba1e875aff01f82d5b8d9feb5e44d628b536718f9d1fc72efb241b2ad48	2026-04-16 18:51:10.168612+00	20260416185109_init_schema_sync	\N	\N	2026-04-16 18:51:09.721189+00	1
\.


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: oms_user
--



--
-- Data for Name: cancel_reasons; Type: TABLE DATA; Schema: public; Owner: oms_user
--

COPY public.cancel_reasons (id, label, "isActive", "sortOrder", "createdAt") FROM stdin;
cmo1u52np0083vxgkxqcqcwjq	Sai sß╗æ ─æiß╗çn thoß║íi	t	1	2026-04-16 18:51:17.557
cmo1u52od0084vxgkhlz8l4vv	Kh├ích ─æß╗òi ├╜	t	2	2026-04-16 18:51:17.581
cmo1u52ol0085vxgk57p8txb7	Hß║┐t h├áng	t	3	2026-04-16 18:51:17.59
cmo1u52ou0086vxgklcuzwcy5	L├╜ do kh├íc	t	99	2026-04-16 18:51:17.598
\.


--
-- Data for Name: company_settings; Type: TABLE DATA; Schema: public; Owner: oms_user
--

COPY public.company_settings (id, name, address, phone, email, "taxCode", "logoUrl", "bankInfo", "invoiceFooter", "treatBlankAsZero", "updatedAt") FROM stdin;
cmo1u52p70087vxgktmei8jmo	C├┤ng ty TNHH Mountain Farmers	Th├┤n Kon Jri, X├ú ─É─âk R╞í Wa, Tß╗ënh Quß║úng Ng├úi	0906 454 379	\N	\N	\N	\N	Cß║úm ╞ín qu├╜ kh├ích ─æ├ú tin t╞░ß╗ƒng!	f	2026-04-16 20:29:45.284
\.


--
-- Data for Name: customer_groups; Type: TABLE DATA; Schema: public; Owner: oms_user
--



--
-- Data for Name: customer_special_prices; Type: TABLE DATA; Schema: public; Owner: oms_user
--

COPY public.customer_special_prices (id, "customerId", "productId", price, notes, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: customers; Type: TABLE DATA; Schema: public; Owner: oms_user
--



--
-- Data for Name: order_items; Type: TABLE DATA; Schema: public; Owner: oms_user
--

COPY public.order_items (id, "orderId", "productId", "snapshotProductName", "snapshotProductSku", "snapshotProductUnit", "snapshotUnitPrice", "priceSource", "pricingNote", quantity, "lineDiscount", "lineTotal") FROM stdin;
\.


--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: oms_user
--

COPY public.orders (id, "orderNumber", "customerId", "snapshotCustomerName", "snapshotCustomerPhone", "createdById", "deliveryStatus", subtotal, "discountAmount", "shippingFee", "totalAmount", "cancelReasonId", "cancelNotes", notes, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: product_categories; Type: TABLE DATA; Schema: public; Owner: oms_user
--



--
-- Data for Name: product_group_prices; Type: TABLE DATA; Schema: public; Owner: oms_user
--



--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: oms_user
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: oms_user
--

COPY public.users (id, email, "passwordHash", "fullName", role, "isActive", "refreshTokenHash", "createdAt", "updatedAt") FROM stdin;
cmo1u51iy0000vxgku42az9lu	poka@poka.us	$2b$12$WyrqWDKx9Vm5.RetiIBEoOZkxdmnER.xj8yf/FnpqPeRr.0xuBK7.	Administrator	ADMIN	t	$2b$10$SPobC396vmroWRkXtC1xDeaVo7UX.abkxqvmyUz08Y1gEinxmhco2	2026-04-16 18:51:16.09	2026-04-18 17:45:44.042
\.


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: shadow; Owner: oms_user
--

COPY shadow.audit_logs (id, "userId", "userEmail", action, "entityType", "entityId", "oldData", "newData", "ipAddress", "createdAt") FROM stdin;
\.


--
-- Data for Name: cancel_reasons; Type: TABLE DATA; Schema: shadow; Owner: oms_user
--

COPY shadow.cancel_reasons (id, label, "isActive", "sortOrder", "createdAt") FROM stdin;
\.


--
-- Data for Name: company_settings; Type: TABLE DATA; Schema: shadow; Owner: oms_user
--

COPY shadow.company_settings (id, name, address, phone, email, "taxCode", "logoUrl", "bankInfo", "invoiceFooter", "updatedAt") FROM stdin;
\.


--
-- Data for Name: customer_groups; Type: TABLE DATA; Schema: shadow; Owner: oms_user
--

COPY shadow.customer_groups (id, name, description, "priceType", "discountPercent", "isDefault", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: customer_special_prices; Type: TABLE DATA; Schema: shadow; Owner: oms_user
--

COPY shadow.customer_special_prices (id, "customerId", "productId", price, notes, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: customers; Type: TABLE DATA; Schema: shadow; Owner: oms_user
--

COPY shadow.customers (id, phone, "fullName", "groupId", "provinceCode", "provinceName", "wardCode", "wardName", "addressDetail", notes, "isActive", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: order_items; Type: TABLE DATA; Schema: shadow; Owner: oms_user
--

COPY shadow.order_items (id, "orderId", "productId", "snapshotProductName", "snapshotProductSku", "snapshotProductUnit", "snapshotUnitPrice", "priceSource", "pricingNote", quantity, "lineDiscount", "lineTotal") FROM stdin;
\.


--
-- Data for Name: orders; Type: TABLE DATA; Schema: shadow; Owner: oms_user
--

COPY shadow.orders (id, "orderNumber", "customerId", "snapshotCustomerName", "snapshotCustomerPhone", "createdById", "deliveryStatus", subtotal, "discountAmount", "shippingFee", "totalAmount", "cancelReasonId", "cancelNotes", notes, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: product_group_prices; Type: TABLE DATA; Schema: shadow; Owner: oms_user
--

COPY shadow.product_group_prices (id, "productId", "groupId", "fixedPrice", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: products; Type: TABLE DATA; Schema: shadow; Owner: oms_user
--

COPY shadow.products (id, name, sku, unit, "retailPrice", "costPrice", stock, weight, dimensions, "isActive", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: shadow; Owner: oms_user
--

COPY shadow.users (id, email, "passwordHash", "fullName", role, "isActive", "createdAt", "updatedAt", "refreshTokenHash") FROM stdin;
\.


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: oms_user
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: oms_user
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: cancel_reasons cancel_reasons_pkey; Type: CONSTRAINT; Schema: public; Owner: oms_user
--

ALTER TABLE ONLY public.cancel_reasons
    ADD CONSTRAINT cancel_reasons_pkey PRIMARY KEY (id);


--
-- Name: company_settings company_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: oms_user
--

ALTER TABLE ONLY public.company_settings
    ADD CONSTRAINT company_settings_pkey PRIMARY KEY (id);


--
-- Name: customer_groups customer_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: oms_user
--

ALTER TABLE ONLY public.customer_groups
    ADD CONSTRAINT customer_groups_pkey PRIMARY KEY (id);


--
-- Name: customer_special_prices customer_special_prices_pkey; Type: CONSTRAINT; Schema: public; Owner: oms_user
--

ALTER TABLE ONLY public.customer_special_prices
    ADD CONSTRAINT customer_special_prices_pkey PRIMARY KEY (id);


--
-- Name: customers customers_pkey; Type: CONSTRAINT; Schema: public; Owner: oms_user
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_pkey PRIMARY KEY (id);


--
-- Name: order_items order_items_pkey; Type: CONSTRAINT; Schema: public; Owner: oms_user
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_pkey PRIMARY KEY (id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: oms_user
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: product_categories product_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: oms_user
--

ALTER TABLE ONLY public.product_categories
    ADD CONSTRAINT product_categories_pkey PRIMARY KEY (id);


--
-- Name: product_group_prices product_group_prices_pkey; Type: CONSTRAINT; Schema: public; Owner: oms_user
--

ALTER TABLE ONLY public.product_group_prices
    ADD CONSTRAINT product_group_prices_pkey PRIMARY KEY (id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: oms_user
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: oms_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: shadow; Owner: oms_user
--

ALTER TABLE ONLY shadow.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: cancel_reasons cancel_reasons_pkey; Type: CONSTRAINT; Schema: shadow; Owner: oms_user
--

ALTER TABLE ONLY shadow.cancel_reasons
    ADD CONSTRAINT cancel_reasons_pkey PRIMARY KEY (id);


--
-- Name: company_settings company_settings_pkey; Type: CONSTRAINT; Schema: shadow; Owner: oms_user
--

ALTER TABLE ONLY shadow.company_settings
    ADD CONSTRAINT company_settings_pkey PRIMARY KEY (id);


--
-- Name: customer_groups customer_groups_pkey; Type: CONSTRAINT; Schema: shadow; Owner: oms_user
--

ALTER TABLE ONLY shadow.customer_groups
    ADD CONSTRAINT customer_groups_pkey PRIMARY KEY (id);


--
-- Name: customer_special_prices customer_special_prices_pkey; Type: CONSTRAINT; Schema: shadow; Owner: oms_user
--

ALTER TABLE ONLY shadow.customer_special_prices
    ADD CONSTRAINT customer_special_prices_pkey PRIMARY KEY (id);


--
-- Name: customers customers_pkey; Type: CONSTRAINT; Schema: shadow; Owner: oms_user
--

ALTER TABLE ONLY shadow.customers
    ADD CONSTRAINT customers_pkey PRIMARY KEY (id);


--
-- Name: order_items order_items_pkey; Type: CONSTRAINT; Schema: shadow; Owner: oms_user
--

ALTER TABLE ONLY shadow.order_items
    ADD CONSTRAINT order_items_pkey PRIMARY KEY (id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: shadow; Owner: oms_user
--

ALTER TABLE ONLY shadow.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: product_group_prices product_group_prices_pkey; Type: CONSTRAINT; Schema: shadow; Owner: oms_user
--

ALTER TABLE ONLY shadow.product_group_prices
    ADD CONSTRAINT product_group_prices_pkey PRIMARY KEY (id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: shadow; Owner: oms_user
--

ALTER TABLE ONLY shadow.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: shadow; Owner: oms_user
--

ALTER TABLE ONLY shadow.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: audit_logs_createdAt_idx; Type: INDEX; Schema: public; Owner: oms_user
--

CREATE INDEX "audit_logs_createdAt_idx" ON public.audit_logs USING btree ("createdAt");


--
-- Name: audit_logs_entityType_entityId_idx; Type: INDEX; Schema: public; Owner: oms_user
--

CREATE INDEX "audit_logs_entityType_entityId_idx" ON public.audit_logs USING btree ("entityType", "entityId");


--
-- Name: audit_logs_userId_idx; Type: INDEX; Schema: public; Owner: oms_user
--

CREATE INDEX "audit_logs_userId_idx" ON public.audit_logs USING btree ("userId");


--
-- Name: cancel_reasons_label_key; Type: INDEX; Schema: public; Owner: oms_user
--

CREATE UNIQUE INDEX cancel_reasons_label_key ON public.cancel_reasons USING btree (label);


--
-- Name: customer_groups_name_key; Type: INDEX; Schema: public; Owner: oms_user
--

CREATE UNIQUE INDEX customer_groups_name_key ON public.customer_groups USING btree (name);


--
-- Name: customer_special_prices_customerId_productId_key; Type: INDEX; Schema: public; Owner: oms_user
--

CREATE UNIQUE INDEX "customer_special_prices_customerId_productId_key" ON public.customer_special_prices USING btree ("customerId", "productId");


--
-- Name: customers_code_key; Type: INDEX; Schema: public; Owner: oms_user
--

CREATE UNIQUE INDEX customers_code_key ON public.customers USING btree (code);


--
-- Name: customers_phone_key; Type: INDEX; Schema: public; Owner: oms_user
--

CREATE UNIQUE INDEX customers_phone_key ON public.customers USING btree (phone);


--
-- Name: orders_createdAt_idx; Type: INDEX; Schema: public; Owner: oms_user
--

CREATE INDEX "orders_createdAt_idx" ON public.orders USING btree ("createdAt");


--
-- Name: orders_customerId_idx; Type: INDEX; Schema: public; Owner: oms_user
--

CREATE INDEX "orders_customerId_idx" ON public.orders USING btree ("customerId");


--
-- Name: orders_deliveryStatus_idx; Type: INDEX; Schema: public; Owner: oms_user
--

CREATE INDEX "orders_deliveryStatus_idx" ON public.orders USING btree ("deliveryStatus");


--
-- Name: orders_orderNumber_key; Type: INDEX; Schema: public; Owner: oms_user
--

CREATE UNIQUE INDEX "orders_orderNumber_key" ON public.orders USING btree ("orderNumber");


--
-- Name: product_categories_code_key; Type: INDEX; Schema: public; Owner: oms_user
--

CREATE UNIQUE INDEX product_categories_code_key ON public.product_categories USING btree (code);


--
-- Name: product_categories_name_key; Type: INDEX; Schema: public; Owner: oms_user
--

CREATE UNIQUE INDEX product_categories_name_key ON public.product_categories USING btree (name);


--
-- Name: product_group_prices_productId_groupId_key; Type: INDEX; Schema: public; Owner: oms_user
--

CREATE UNIQUE INDEX "product_group_prices_productId_groupId_key" ON public.product_group_prices USING btree ("productId", "groupId");


--
-- Name: products_sku_key; Type: INDEX; Schema: public; Owner: oms_user
--

CREATE UNIQUE INDEX products_sku_key ON public.products USING btree (sku);


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: oms_user
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: audit_logs_createdAt_idx; Type: INDEX; Schema: shadow; Owner: oms_user
--

CREATE INDEX "audit_logs_createdAt_idx" ON shadow.audit_logs USING btree ("createdAt");


--
-- Name: audit_logs_entityType_entityId_idx; Type: INDEX; Schema: shadow; Owner: oms_user
--

CREATE INDEX "audit_logs_entityType_entityId_idx" ON shadow.audit_logs USING btree ("entityType", "entityId");


--
-- Name: audit_logs_userId_idx; Type: INDEX; Schema: shadow; Owner: oms_user
--

CREATE INDEX "audit_logs_userId_idx" ON shadow.audit_logs USING btree ("userId");


--
-- Name: cancel_reasons_label_key; Type: INDEX; Schema: shadow; Owner: oms_user
--

CREATE UNIQUE INDEX cancel_reasons_label_key ON shadow.cancel_reasons USING btree (label);


--
-- Name: customer_groups_name_key; Type: INDEX; Schema: shadow; Owner: oms_user
--

CREATE UNIQUE INDEX customer_groups_name_key ON shadow.customer_groups USING btree (name);


--
-- Name: customer_special_prices_customerId_productId_key; Type: INDEX; Schema: shadow; Owner: oms_user
--

CREATE UNIQUE INDEX "customer_special_prices_customerId_productId_key" ON shadow.customer_special_prices USING btree ("customerId", "productId");


--
-- Name: customers_phone_key; Type: INDEX; Schema: shadow; Owner: oms_user
--

CREATE UNIQUE INDEX customers_phone_key ON shadow.customers USING btree (phone);


--
-- Name: orders_createdAt_idx; Type: INDEX; Schema: shadow; Owner: oms_user
--

CREATE INDEX "orders_createdAt_idx" ON shadow.orders USING btree ("createdAt");


--
-- Name: orders_customerId_idx; Type: INDEX; Schema: shadow; Owner: oms_user
--

CREATE INDEX "orders_customerId_idx" ON shadow.orders USING btree ("customerId");


--
-- Name: orders_deliveryStatus_idx; Type: INDEX; Schema: shadow; Owner: oms_user
--

CREATE INDEX "orders_deliveryStatus_idx" ON shadow.orders USING btree ("deliveryStatus");


--
-- Name: orders_orderNumber_key; Type: INDEX; Schema: shadow; Owner: oms_user
--

CREATE UNIQUE INDEX "orders_orderNumber_key" ON shadow.orders USING btree ("orderNumber");


--
-- Name: product_group_prices_productId_groupId_key; Type: INDEX; Schema: shadow; Owner: oms_user
--

CREATE UNIQUE INDEX "product_group_prices_productId_groupId_key" ON shadow.product_group_prices USING btree ("productId", "groupId");


--
-- Name: products_sku_key; Type: INDEX; Schema: shadow; Owner: oms_user
--

CREATE UNIQUE INDEX products_sku_key ON shadow.products USING btree (sku);


--
-- Name: users_email_key; Type: INDEX; Schema: shadow; Owner: oms_user
--

CREATE UNIQUE INDEX users_email_key ON shadow.users USING btree (email);


--
-- Name: audit_logs audit_logs_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: oms_user
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT "audit_logs_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: customer_special_prices customer_special_prices_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: oms_user
--

ALTER TABLE ONLY public.customer_special_prices
    ADD CONSTRAINT "customer_special_prices_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public.customers(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: customer_special_prices customer_special_prices_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: oms_user
--

ALTER TABLE ONLY public.customer_special_prices
    ADD CONSTRAINT "customer_special_prices_productId_fkey" FOREIGN KEY ("productId") REFERENCES public.products(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: customers customers_groupId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: oms_user
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT "customers_groupId_fkey" FOREIGN KEY ("groupId") REFERENCES public.customer_groups(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: order_items order_items_orderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: oms_user
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT "order_items_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES public.orders(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: order_items order_items_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: oms_user
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT "order_items_productId_fkey" FOREIGN KEY ("productId") REFERENCES public.products(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: orders orders_cancelReasonId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: oms_user
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT "orders_cancelReasonId_fkey" FOREIGN KEY ("cancelReasonId") REFERENCES public.cancel_reasons(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: orders orders_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: oms_user
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT "orders_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: orders orders_customerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: oms_user
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT "orders_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES public.customers(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: product_group_prices product_group_prices_groupId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: oms_user
--

ALTER TABLE ONLY public.product_group_prices
    ADD CONSTRAINT "product_group_prices_groupId_fkey" FOREIGN KEY ("groupId") REFERENCES public.customer_groups(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: product_group_prices product_group_prices_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: oms_user
--

ALTER TABLE ONLY public.product_group_prices
    ADD CONSTRAINT "product_group_prices_productId_fkey" FOREIGN KEY ("productId") REFERENCES public.products(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: products products_categoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: oms_user
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT "products_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES public.product_categories(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: audit_logs audit_logs_userId_fkey; Type: FK CONSTRAINT; Schema: shadow; Owner: oms_user
--

ALTER TABLE ONLY shadow.audit_logs
    ADD CONSTRAINT "audit_logs_userId_fkey" FOREIGN KEY ("userId") REFERENCES shadow.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: customer_special_prices customer_special_prices_customerId_fkey; Type: FK CONSTRAINT; Schema: shadow; Owner: oms_user
--

ALTER TABLE ONLY shadow.customer_special_prices
    ADD CONSTRAINT "customer_special_prices_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES shadow.customers(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: customer_special_prices customer_special_prices_productId_fkey; Type: FK CONSTRAINT; Schema: shadow; Owner: oms_user
--

ALTER TABLE ONLY shadow.customer_special_prices
    ADD CONSTRAINT "customer_special_prices_productId_fkey" FOREIGN KEY ("productId") REFERENCES shadow.products(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: customers customers_groupId_fkey; Type: FK CONSTRAINT; Schema: shadow; Owner: oms_user
--

ALTER TABLE ONLY shadow.customers
    ADD CONSTRAINT "customers_groupId_fkey" FOREIGN KEY ("groupId") REFERENCES shadow.customer_groups(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: order_items order_items_orderId_fkey; Type: FK CONSTRAINT; Schema: shadow; Owner: oms_user
--

ALTER TABLE ONLY shadow.order_items
    ADD CONSTRAINT "order_items_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES shadow.orders(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: order_items order_items_productId_fkey; Type: FK CONSTRAINT; Schema: shadow; Owner: oms_user
--

ALTER TABLE ONLY shadow.order_items
    ADD CONSTRAINT "order_items_productId_fkey" FOREIGN KEY ("productId") REFERENCES shadow.products(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: orders orders_cancelReasonId_fkey; Type: FK CONSTRAINT; Schema: shadow; Owner: oms_user
--

ALTER TABLE ONLY shadow.orders
    ADD CONSTRAINT "orders_cancelReasonId_fkey" FOREIGN KEY ("cancelReasonId") REFERENCES shadow.cancel_reasons(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: orders orders_createdById_fkey; Type: FK CONSTRAINT; Schema: shadow; Owner: oms_user
--

ALTER TABLE ONLY shadow.orders
    ADD CONSTRAINT "orders_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES shadow.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: orders orders_customerId_fkey; Type: FK CONSTRAINT; Schema: shadow; Owner: oms_user
--

ALTER TABLE ONLY shadow.orders
    ADD CONSTRAINT "orders_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES shadow.customers(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: product_group_prices product_group_prices_groupId_fkey; Type: FK CONSTRAINT; Schema: shadow; Owner: oms_user
--

ALTER TABLE ONLY shadow.product_group_prices
    ADD CONSTRAINT "product_group_prices_groupId_fkey" FOREIGN KEY ("groupId") REFERENCES shadow.customer_groups(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: product_group_prices product_group_prices_productId_fkey; Type: FK CONSTRAINT; Schema: shadow; Owner: oms_user
--

ALTER TABLE ONLY shadow.product_group_prices
    ADD CONSTRAINT "product_group_prices_productId_fkey" FOREIGN KEY ("productId") REFERENCES shadow.products(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: oms_user
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict kc0mcub5i8OsoZTAKOMDeSG3MkgZbehVhNc2wVO6VVVdQ7TjqfYKBmaq9Xx1sFD

